* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
header {
  background-color: red;
  box-shadow: 0 2px 2px -1px rgba(34, 60, 80, 0.05);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 60px;
  padding: 5px 25px;
}
.content {
  width: 100%;
  background-color: lightblue;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 70px 25px 0;
  position: absolute;
}
.main-content {
  width: calc(100% - 310px);
  height: 2000px;
  background-color: lightgreen;
}
aside {
  background-color: lightyellow;
  height: 500px;
  width: 300px;
}