.mainNav {
  display: flex;
  align-items: center;
  height: 100%;
  li {
    a {
      color: #fff;
      padding:  10px 20px;
      transition: .3s;
      &.active {
        border-bottom: 1px solid #fff;
      }
    }
  }
}